// footer style
@use "./variables" as variables;
@use "./typography" as typho;


body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: auto;
}

.wrapper {
    max-width: 75%;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
    .title {
        max-width: 28%;
    }

}

.ratings{
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    &__wrapper{
        background-color: variables.$neutral-color-lightGrayish-magenta;
        display: flex;
        gap:10px;
        padding: 1rem 1.25rem;
        border-radius: 10px;
        p {
            margin: 0;
        }
}

}

//----- PROFILE CARDS ----//

.profiles {
    display: flex;
    justify-content: center;
    margin-inline: auto;
    margin-top: 50px;
    gap:2%;
    .profile-card {
        max-width: 20%;
        width: 100%;
        background-color: variables.$primary-colors-dark-magenta;
        padding: 40px;
        border-radius: 8px;
        &__title-wrapper {
            display: flex;
            align-items: center;
            gap:1.25rem;
            img {
                border-radius: 50%;
                width: 50px;
                height: 50px;
            }
        }
    }

}










//----- FOOTER -----//
.attribution {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    color: variables.$footer-attribution-color;
    text-align: center;

    a, p {
        margin: 0;
        font-size: typho.$footer-title-font-size;
        
    }
}

//----- ICON style -----//
.fa-solid {
    color: orange;
}