

$primary-colors-dark-magenta: hsl(300, 43%, 22%);
$primary-color-soft-pink:hsl(333, 80%, 67%);

$neutral-color-darkGrayish-magenta: hsl(303, 10%, 53%);
$neutral-color-lightGrayish-magenta: hsl(300, 24%, 96%);
$neutral-color-white: hsl(0, 0%, 100%);

$footer-attribution-color: hsl(228, 45%, 44%);
